// Large ------------------------------------------------------
@media (min-width: 992px) {

    // Large Padding
    @function padding-calculation($index){
      @return $index * 5;
    }

    // Large Padding - top, right, bottom, left
    .lg-p-0 {
      padding: padding-calculation(0px) !important;
    }

    .lg-p-5 {
      padding: padding-calculation(1px) !important;
    }

    .lg-p-10 {
      padding: padding-calculation(2px) !important;
    }

    .lg-p-15 {
      padding: padding-calculation(3px) !important;
    }

    .lg-p-20 {
      padding: padding-calculation(4px) !important;
    }

    .lg-p-25 {
      padding: padding-calculation(5px) !important;
    }

    .lg-p-30 {
      padding: padding-calculation(6px) !important;
    }

    .lg-p-35 {
      padding: padding-calculation(7px) !important;
    }

    .lg-p-40 {
      padding: padding-calculation(8px) !important;
    }

    .lg-p-45 {
      padding: padding-calculation(9px) !important;
    }

    .lg-p-50 {
      padding: padding-calculation(10px) !important;
    }

    // Large Padding - top, bottom
    .lg-ptb-0 {
      padding-top: padding-calculation(0px) !important;
      padding-bottom: padding-calculation(0px) !important;
    }

    .lg-ptb-5 {
      padding-top: padding-calculation(1px) !important;
      padding-bottom: padding-calculation(1px) !important;
    }

    .lg-ptb-10 {
      padding-top: padding-calculation(2px) !important;
      padding-bottom: padding-calculation(2px) !important;
    }

    .lg-ptb-15 {
      padding-top: padding-calculation(3px) !important;
      padding-bottom: padding-calculation(3px) !important;
    }

    .lg-ptb-20 {
      padding-top: padding-calculation(4px) !important;
      padding-bottom: padding-calculation(4px) !important;
    }

    .lg-ptb-25 {
      padding-top: padding-calculation(5px) !important;
      padding-bottom: padding-calculation(5px) !important;
    }

    .lg-ptb-30 {
      padding-top: padding-calculation(6px) !important;
      padding-bottom: padding-calculation(6px) !important;
    }

    .lg-ptb-35 {
      padding-top: padding-calculation(7px) !important;
      padding-bottom: padding-calculation(7px) !important;
    }

    .lg-ptb-40 {
      padding-top: padding-calculation(8px) !important;
      padding-bottom: padding-calculation(8px) !important;
    }

    .lg-ptb-45 {
      padding-top: padding-calculation(9px) !important;
      padding-bottom: padding-calculation(9px) !important;
    }

    .lg-ptb-50 {
      padding-top: padding-calculation(10px) !important;
      padding-bottom: padding-calculation(10px) !important;
    }

    .lg-ptb-55 {
      padding-top: padding-calculation(11px) !important;
      padding-bottom: padding-calculation(11px) !important;
    }

    .lg-ptb-60 {
      padding-top: padding-calculation(12px) !important;
      padding-bottom: padding-calculation(12px) !important;
    }

    .lg-ptb-65 {
      padding-top: padding-calculation(13px) !important;
      padding-bottom: padding-calculation(13px) !important;
    }

    .lg-ptb-70 {
      padding-top: padding-calculation(14px) !important;
      padding-bottom: padding-calculation(14px) !important;
    }

    .lg-ptb-75 {
      padding-top: padding-calculation(15px) !important;
      padding-bottom: padding-calculation(15px) !important;
    }

    .lg-ptb-80 {
      padding-top: padding-calculation(16px) !important;
      padding-bottom: padding-calculation(16px) !important;
    }

    .lg-ptb-85 {
      padding-top: padding-calculation(17px) !important;
      padding-bottom: padding-calculation(17px) !important;
    }

    .lg-ptb-90 {
      padding-top: padding-calculation(18px) !important;
      padding-bottom: padding-calculation(18px) !important;
    }

    .lg-ptb-95 {
      padding-top: padding-calculation(19px) !important;
      padding-bottom: padding-calculation(19px) !important;
    }

    .lg-ptb-100 {
      padding-top: padding-calculation(20px) !important;
      padding-bottom: padding-calculation(20px) !important;
    }

    // Large Padding - left, right
    .lg-plr-0 {
      padding-left: padding-calculation(0px) !important;
      padding-right: padding-calculation(0px) !important;
    }

    .lg-plr-5 {
      padding-left: padding-calculation(1px) !important;
      padding-right: padding-calculation(1px) !important;
    }

    .lg-plr-10 {
      padding-left: padding-calculation(2px) !important;
      padding-right: padding-calculation(2px) !important;
    }

    .lg-plr-15 {
      padding-left: padding-calculation(3px) !important;
      padding-right: padding-calculation(3px) !important;
    }

    .lg-plr-20 {
      padding-left: padding-calculation(4px) !important;
      padding-right: padding-calculation(4px) !important;
    }

    .lg-plr-25 {
      padding-left: padding-calculation(5px) !important;
      padding-right: padding-calculation(5px) !important;
    }

    .lg-plr-30 {
      padding-left: padding-calculation(6px) !important;
      padding-right: padding-calculation(6px) !important;
    }

    .lg-plr-35 {
      padding-left: padding-calculation(7px) !important;
      padding-right: padding-calculation(7px) !important;
    }

    .lg-plr-40 {
      padding-left: padding-calculation(8px) !important;
      padding-right: padding-calculation(8px) !important;
    }

    .lg-plr-45 {
      padding-left: padding-calculation(9px) !important;
      padding-right: padding-calculation(9px) !important;
    }

    .lg-plr-50 {
      padding-left: padding-calculation(10px) !important;
      padding-right: padding-calculation(10px) !important;
    }

    .lg-plr-55 {
      padding-left: padding-calculation(11px) !important;
      padding-right: padding-calculation(11px) !important;
    }

    .lg-plr-60 {
      padding-left: padding-calculation(12px) !important;
      padding-right: padding-calculation(12px) !important;
    }

    .lg-plr-65 {
      padding-left: padding-calculation(13px) !important;
      padding-right: padding-calculation(13px) !important;
    }

    .lg-plr-70 {
      padding-left: padding-calculation(14px) !important;
      padding-right: padding-calculation(14px) !important;
    }

    .lg-plr-75 {
      padding-left: padding-calculation(15px) !important;
      padding-right: padding-calculation(15px) !important;
    }

    .lg-plr-80 {
      padding-left: padding-calculation(16px) !important;
      padding-right: padding-calculation(16px) !important;
    }

    .lg-plr-85 {
      padding-left: padding-calculation(17px) !important;
      padding-right: padding-calculation(17px) !important;
    }

    .lg-plr-90 {
      padding-left: padding-calculation(18px) !important;
      padding-right: padding-calculation(18px) !important;
    }

    .lg-plr-95 {
      padding-left: padding-calculation(19px) !important;
      padding-right: padding-calculation(19px) !important;
    }

    .lg-plr-100 {
      padding-left: padding-calculation(20px) !important;
      padding-right: padding-calculation(20px) !important;
    }

    // Large Padding - top
    .lg-pt-0 {
      padding-top: padding-calculation(0px) !important;
    }

    .lg-pt-5 {
      padding-top: padding-calculation(1px) !important;
    }

    .lg-pt-10 {
      padding-top: padding-calculation(2px) !important;
    }

    .lg-pt-15 {
      padding-top: padding-calculation(3px) !important;
    }

    .lg-pt-20 {
      padding-top: padding-calculation(4px) !important;
    }

    .lg-pt-25 {
      padding-top: padding-calculation(5px) !important;
    }

    .lg-pt-30 {
      padding-top: padding-calculation(6px) !important;
    }

    .lg-pt-35 {
      padding-top: padding-calculation(7px) !important;
    }

    .lg-pt-40 {
      padding-top: padding-calculation(8px) !important;
    }

    .lg-pt-45 {
      padding-top: padding-calculation(9px) !important;
    }

    .lg-pt-50 {
      padding-top: padding-calculation(10px) !important;
    }

    .lg-pt-55 {
      padding-top: padding-calculation(11px) !important;
    }

    .lg-pt-60 {
      padding-top: padding-calculation(12px) !important;
    }

    .lg-pt-65 {
      padding-top: padding-calculation(13px) !important;
    }

    .lg-pt-70 {
      padding-top: padding-calculation(14px) !important;
    }

    .lg-pt-75 {
      padding-top: padding-calculation(15px) !important;
    }

    .lg-pt-80 {
      padding-top: padding-calculation(16px) !important;
    }

    .lg-pt-85 {
      padding-top: padding-calculation(17px) !important;
    }

    .lg-pt-90 {
      padding-top: padding-calculation(18px) !important;
    }

    .lg-pt-95 {
      padding-top: padding-calculation(19px) !important;
    }

    .lg-pt-100 {
      padding-top: padding-calculation(20px) !important;
    }

    // Large Padding - Bottom
    .lg-pb-0 {
      padding-bottom: padding-calculation(0px) !important;
    }

    .lg-pb-5 {
      padding-bottom: padding-calculation(1px) !important;
    }

    .lg-pb-10 {
      padding-bottom: padding-calculation(2px) !important;
    }

    .lg-pb-15 {
      padding-bottom: padding-calculation(3px) !important;
    }

    .lg-pb-20 {
      padding-bottom: padding-calculation(4px) !important;
    }

    .lg-pb-25 {
      padding-bottom: padding-calculation(5px) !important;
    }

    .lg-pb-30 {
      padding-bottom: padding-calculation(6px) !important;
    }

    .lg-pb-35 {
      padding-bottom: padding-calculation(7px) !important;
    }

    .lg-pb-40 {
      padding-bottom: padding-calculation(8px) !important;
    }

    .lg-pb-45 {
      padding-bottom: padding-calculation(9px) !important;
    }

    .lg-pb-50 {
      padding-bottom: padding-calculation(10px) !important;
    }

    .lg-pb-55 {
      padding-bottom: padding-calculation(11px) !important;
    }

    .lg-pb-60 {
      padding-bottom: padding-calculation(12px) !important;
    }

    .lg-pb-65 {
      padding-bottom: padding-calculation(13px) !important;
    }

    .lg-pb-70 {
      padding-bottom: padding-calculation(14px) !important;
    }

    .lg-pb-75 {
      padding-bottom: padding-calculation(15px) !important;
    }

    .lg-pb-80 {
      padding-bottom: padding-calculation(16px) !important;
    }

    .lg-pb-85 {
      padding-bottom: padding-calculation(17px) !important;
    }

    .lg-pb-90 {
      padding-bottom: padding-calculation(18px) !important;
    }

    .lg-pb-95 {
      padding-bottom: padding-calculation(19px) !important;
    }

    .lg-pb-100 {
      padding-bottom: padding-calculation(20px) !important;
    }

    // Large Padding - left
    .lg-pl-0 {
      padding-left: padding-calculation(0px) !important;
    }

    .lg-pl-5 {
      padding-left: padding-calculation(1px) !important;
    }

    .lg-pl-10 {
      padding-left: padding-calculation(2px) !important;
    }

    .lg-pl-15 {
      padding-left: padding-calculation(3px) !important;
    }

    .lg-pl-20 {
      padding-left: padding-calculation(4px) !important;
    }

    .lg-pl-25 {
      padding-left: padding-calculation(5px) !important;
    }

    .lg-pl-30 {
      padding-left: padding-calculation(6px) !important;
    }

    .lg-pl-35 {
      padding-left: padding-calculation(7px) !important;
    }

    .lg-pl-40 {
      padding-left: padding-calculation(8px) !important;
    }

    .lg-pl-45 {
      padding-left: padding-calculation(9px) !important;
    }

    .lg-pl-50 {
      padding-left: padding-calculation(10px) !important;
    }

    .lg-pl-55 {
      padding-left: padding-calculation(11px) !important;
    }

    .lg-pl-60 {
      padding-left: padding-calculation(12px) !important;
    }

    .lg-pl-65 {
      padding-left: padding-calculation(13px) !important;
    }

    .lg-pl-70 {
      padding-left: padding-calculation(14px) !important;
    }

    .lg-pl-75 {
      padding-left: padding-calculation(15px) !important;
    }

    .lg-pl-80 {
      padding-left: padding-calculation(16px) !important;
    }

    .lg-pl-85 {
      padding-left: padding-calculation(17px) !important;
    }

    .lg-pl-90 {
      padding-left: padding-calculation(18px) !important;
    }

    .lg-pl-95 {
      padding-left: padding-calculation(19px) !important;
    }

    .lg-pl-100 {
      padding-left: padding-calculation(20px) !important;
    }

    // Large Padding - Right
    .lg-pr-0 {
      padding-right: padding-calculation(0px) !important;
    }

    .lg-pr-5 {
      padding-right: padding-calculation(1px) !important;
    }

    .lg-pr-10 {
      padding-right: padding-calculation(2px) !important;
    }

    .lg-pr-15 {
      padding-right: padding-calculation(3px) !important;
    }

    .lg-pr-20 {
      padding-right: padding-calculation(4px) !important;
    }

    .lg-pr-25 {
      padding-right: padding-calculation(5px) !important;
    }

    .lg-pr-30 {
      padding-right: padding-calculation(6px) !important;
    }

    .lg-pr-35 {
      padding-right: padding-calculation(7px) !important;
    }

    .lg-pr-40 {
      padding-right: padding-calculation(8px) !important;
    }

    .lg-pr-45 {
      padding-right: padding-calculation(9px) !important;
    }

    .lg-pr-50 {
      padding-right: padding-calculation(10px) !important;
    }

    .lg-pr-55 {
      padding-right: padding-calculation(11px) !important;
    }

    .lg-pr-60 {
      padding-right: padding-calculation(12px) !important;
    }

    .lg-pr-65 {
      padding-right: padding-calculation(13px) !important;
    }

    .lg-pr-70 {
      padding-right: padding-calculation(14px) !important;
    }

    .lg-pr-75 {
      padding-right: padding-calculation(15px) !important;
    }

    .lg-pr-80 {
      padding-right: padding-calculation(16px) !important;
    }

    .lg-pr-85 {
      padding-right: padding-calculation(17px) !important;
    }

    .lg-pr-90 {
      padding-right: padding-calculation(18px) !important;
    }

    .lg-pr-95 {
      padding-right: padding-calculation(19px) !important;
    }

    .lg-pr-100 {
      padding-right: padding-calculation(20px) !important;
    }

    // Large Margin -----------------------------------------
    @function margin-calculation($index){
      @return $index * 5;
    }

    // Large Margin - top, right, bottom, left
    .lg-m-0 {
      margin: margin-calculation(0px) !important;
    }

    .lg-m-5 {
      margin: margin-calculation(1px) !important;
    }

    .lg-m-10 {
      margin: margin-calculation(2px) !important;
    }

    .lg-m-15 {
      margin: margin-calculation(3px) !important;
    }

    .lg-m-20 {
      margin: margin-calculation(4px) !important;
    }

    .lg-m-25 {
      margin: margin-calculation(5px) !important;
    }

    .lg-m-30 {
      margin: margin-calculation(6px) !important;
    }

    .lg-m-35 {
      margin: margin-calculation(7px) !important;
    }

    .lg-m-40 {
      margin: margin-calculation(8px) !important;
    }

    .lg-m-45 {
      margin: margin-calculation(9px) !important;
    }

    .lg-m-50 {
      margin: margin-calculation(10px) !important;
    }

    // Large Margin - top, bottom
    .lg-mtb-0 {
      margin-top: margin-calculation(0px) !important;
      margin-bottom: margin-calculation(0px) !important;
    }

    .lg-mtb-5 {
      margin-top: margin-calculation(1px) !important;
      margin-bottom: margin-calculation(1px) !important;
    }

    .lg-mtb-10 {
      margin-top: margin-calculation(2px) !important;
      margin-bottom: margin-calculation(2px) !important;
    }

    .lg-mtb-15 {
      margin-top: margin-calculation(3px) !important;
      margin-bottom: margin-calculation(3px) !important;
    }

    .lg-mtb-20 {
      margin-top: margin-calculation(4px) !important;
      margin-bottom: margin-calculation(4px) !important;
    }

    .lg-mtb-25 {
      margin-top: margin-calculation(5px) !important;
      margin-bottom: margin-calculation(5px) !important;
    }

    .lg-mtb-30 {
      margin-top: margin-calculation(6px) !important;
      margin-bottom: margin-calculation(6px) !important;
    }

    .lg-mtb-35 {
      margin-top: margin-calculation(7px) !important;
      margin-bottom: margin-calculation(7px) !important;
    }

    .lg-mtb-40 {
      margin-top: margin-calculation(8px) !important;
      margin-bottom: margin-calculation(8px) !important;
    }

    .lg-mtb-45 {
      margin-top: margin-calculation(9px) !important;
      margin-bottom: margin-calculation(9px) !important;
    }

    .lg-mtb-50 {
      margin-top: margin-calculation(10px) !important;
      margin-bottom: margin-calculation(10px) !important;
    }

    .lg-mtb-55 {
      margin-top: margin-calculation(11px) !important;
      margin-bottom: margin-calculation(11px) !important;
    }

    .lg-mtb-60 {
      margin-top: margin-calculation(12px) !important;
      margin-bottom: margin-calculation(12px) !important;
    }

    .lg-mtb-65 {
      margin-top: margin-calculation(13px) !important;
      margin-bottom: margin-calculation(13px) !important;
    }

    .lg-mtb-70 {
      margin-top: margin-calculation(14px) !important;
      margin-bottom: margin-calculation(14px) !important;
    }

    .lg-mtb-75 {
      margin-top: margin-calculation(15px) !important;
      margin-bottom: margin-calculation(15px) !important;
    }

    .lg-mtb-80 {
      margin-top: margin-calculation(16px) !important;
      margin-bottom: margin-calculation(16px) !important;
    }

    .lg-mtb-85 {
      margin-top: margin-calculation(17px) !important;
      margin-bottom: margin-calculation(17px) !important;
    }

    .lg-mtb-90 {
      margin-top: margin-calculation(18px) !important;
      margin-bottom: margin-calculation(18px) !important;
    }

    .lg-mtb-95 {
      margin-top: margin-calculation(19px) !important;
      margin-bottom: margin-calculation(19px) !important;
    }

    .lg-mtb-100 {
      margin-top: margin-calculation(20px) !important;
      margin-bottom: margin-calculation(20px) !important;
    }

    // Large Margin - left, right
    .lg-mlr-0 {
      margin-left: margin-calculation(0px) !important;
      margin-right: margin-calculation(0px) !important;
    }

    .lg-mlr-5 {
      margin-left: margin-calculation(1px) !important;
      margin-right: margin-calculation(1px) !important;
    }

    .lg-mlr-10 {
      margin-left: margin-calculation(2px) !important;
      margin-right: margin-calculation(2px) !important;
    }

    .lg-mlr-15 {
      margin-left: margin-calculation(3px) !important;
      margin-right: margin-calculation(3px) !important;
    }

    .lg-mlr-20 {
      margin-left: margin-calculation(4px) !important;
      margin-right: margin-calculation(4px) !important;
    }

    .lg-mlr-25 {
      margin-left: margin-calculation(5px) !important;
      margin-right: margin-calculation(5px) !important;
    }

    .lg-mlr-30 {
      margin-left: margin-calculation(6px) !important;
      margin-right: margin-calculation(6px) !important;
    }

    .lg-mlr-35 {
      margin-left: margin-calculation(7px) !important;
      margin-right: margin-calculation(7px) !important;
    }

    .lg-mlr-40 {
      margin-left: margin-calculation(8px) !important;
      margin-right: margin-calculation(8px) !important;
    }

    .lg-mlr-45 {
      margin-left: margin-calculation(9px) !important;
      margin-right: margin-calculation(9px) !important;
    }

    .lg-mlr-50 {
      margin-left: margin-calculation(10px) !important;
      margin-right: margin-calculation(10px) !important;
    }

    .lg-mlr-55 {
      margin-left: margin-calculation(11px) !important;
      margin-right: margin-calculation(11px) !important;
    }

    .lg-mlr-60 {
      margin-left: margin-calculation(12px) !important;
      margin-right: margin-calculation(12px) !important;
    }

    .lg-mlr-65 {
      margin-left: margin-calculation(13px) !important;
      margin-right: margin-calculation(13px) !important;
    }

    .lg-mlr-70 {
      margin-left: margin-calculation(14px) !important;
      margin-right: margin-calculation(14px) !important;
    }

    .lg-mlr-75 {
      margin-left: margin-calculation(15px) !important;
      margin-right: margin-calculation(15px) !important;
    }

    .lg-mlr-80 {
      margin-left: margin-calculation(16px) !important;
      margin-right: margin-calculation(16px) !important;
    }

    .lg-mlr-85 {
      margin-left: margin-calculation(17px) !important;
      margin-right: margin-calculation(17px) !important;
    }

    .lg-mlr-90 {
      margin-left: margin-calculation(18px) !important;
      margin-right: margin-calculation(18px) !important;
    }

    .lg-mlr-95 {
      margin-left: margin-calculation(19px) !important;
      margin-right: margin-calculation(19px) !important;
    }

    .lg-mlr-100 {
      margin-left: margin-calculation(20px) !important;
      margin-right: margin-calculation(20px) !important;
    }

    // Large Margin - top
    .lg-mt-0 {
      margin-top: margin-calculation(0px) !important;
    }

    .lg-mt-5 {
      margin-top: margin-calculation(1px) !important;
    }

    .lg-mt-10 {
      margin-top: margin-calculation(2px) !important;
    }

    .lg-mt-15 {
      margin-top: margin-calculation(3px) !important;
    }

    .lg-mt-20 {
      margin-top: margin-calculation(4px) !important;
    }

    .lg-mt-25 {
      margin-top: margin-calculation(5px) !important;
    }

    .lg-mt-30 {
      margin-top: margin-calculation(6px) !important;
    }

    .lg-mt-35 {
      margin-top: margin-calculation(7px) !important;
    }

    .lg-mt-40 {
      margin-top: margin-calculation(8px) !important;
    }

    .lg-mt-45 {
      margin-top: margin-calculation(9px) !important;
    }

    .lg-mt-50 {
      margin-top: margin-calculation(10px) !important;
    }

    .lg-mt-55 {
      margin-top: margin-calculation(11px) !important;
    }

    .lg-mt-60 {
      margin-top: margin-calculation(12px) !important;
    }

    .lg-mt-65 {
      margin-top: margin-calculation(13px) !important;
    }

    .lg-mt-70 {
      margin-top: margin-calculation(14px) !important;
    }

    .lg-mt-75 {
      margin-top: margin-calculation(15px) !important;
    }

    .lg-mt-80 {
      margin-top: margin-calculation(16px) !important;
    }

    .lg-mt-85 {
      margin-top: margin-calculation(17px) !important;
    }

    .lg-mt-90 {
      margin-top: margin-calculation(18px) !important;
    }

    .lg-mt-95 {
      margin-top: margin-calculation(19px) !important;
    }

    .lg-mt-100 {
      margin-top: margin-calculation(20px) !important;
    }

    // Large Margin - Bottom
    .lg-mb-0 {
      margin-bottom: margin-calculation(0px) !important;
    }

    .lg-mb-5 {
      margin-bottom: margin-calculation(1px) !important;
    }

    .lg-mb-10 {
      margin-bottom: margin-calculation(2px) !important;
    }

    .lg-mb-15 {
      margin-bottom: margin-calculation(3px) !important;
    }

    .lg-mb-20 {
      margin-bottom: margin-calculation(4px) !important;
    }

    .lg-mb-25 {
      margin-bottom: margin-calculation(5px) !important;
    }

    .lg-mb-30 {
      margin-bottom: margin-calculation(6px) !important;
    }

    .lg-mb-35 {
      margin-bottom: margin-calculation(7px) !important;
    }

    .lg-mb-40 {
      margin-bottom: margin-calculation(8px) !important;
    }

    .lg-mb-45 {
      margin-bottom: margin-calculation(9px) !important;
    }

    .lg-mb-50 {
      margin-bottom: margin-calculation(10px) !important;
    }

    .lg-mb-55 {
      margin-bottom: margin-calculation(11px) !important;
    }

    .lg-mb-60 {
      margin-bottom: margin-calculation(12px) !important;
    }

    .lg-mb-65 {
      margin-bottom: margin-calculation(13px) !important;
    }

    .lg-mb-70 {
      margin-bottom: margin-calculation(14px) !important;
    }

    .lg-mb-75 {
      margin-bottom: margin-calculation(15px) !important;
    }

    .lg-mb-80 {
      margin-bottom: margin-calculation(16px) !important;
    }

    .lg-mb-85 {
      margin-bottom: margin-calculation(17px) !important;
    }

    .lg-mb-90 {
      margin-bottom: margin-calculation(18px) !important;
    }

    .lg-mb-95 {
      margin-bottom: margin-calculation(19px) !important;
    }

    .lg-mb-100 {
      margin-bottom: margin-calculation(20px) !important;
    }

    // Large Margin - left
    .lg-ml-0 {
      margin-left: margin-calculation(0px) !important;
    }

    .lg-ml-5 {
      margin-left: margin-calculation(1px) !important;
    }

    .lg-ml-10 {
      margin-left: margin-calculation(2px) !important;
    }

    .lg-ml-15 {
      margin-left: margin-calculation(3px) !important;
    }

    .lg-ml-20 {
      margin-left: margin-calculation(4px) !important;
    }

    .lg-ml-25 {
      margin-left: margin-calculation(5px) !important;
    }

    .lg-ml-30 {
      margin-left: margin-calculation(6px) !important;
    }

    .lg-ml-35 {
      margin-left: margin-calculation(7px) !important;
    }

    .lg-ml-40 {
      margin-left: margin-calculation(8px) !important;
    }

    .lg-ml-45 {
      margin-left: margin-calculation(9px) !important;
    }

    .lg-ml-50 {
      margin-left: margin-calculation(10px) !important;
    }

    .lg-ml-55 {
      margin-left: margin-calculation(11px) !important;
    }

    .lg-ml-60 {
      margin-left: margin-calculation(12px) !important;
    }

    .lg-ml-65 {
      margin-left: margin-calculation(13px) !important;
    }

    .lg-ml-70 {
      margin-left: margin-calculation(14px) !important;
    }

    .lg-ml-75 {
      margin-left: margin-calculation(15px) !important;
    }

    .lg-ml-80 {
      margin-left: margin-calculation(16px) !important;
    }

    .lg-ml-85 {
      margin-left: margin-calculation(17px) !important;
    }

    .lg-ml-90 {
      margin-left: margin-calculation(18px) !important;
    }

    .lg-ml-95 {
      margin-left: margin-calculation(19px) !important;
    }

    .lg-ml-100 {
      margin-left: margin-calculation(20px) !important;
    }

    // Large Margin - Right
    .lg-mr-0 {
      margin-right: margin-calculation(0px) !important;
    }

    .lg-mr-5 {
      margin-right: margin-calculation(1px) !important;
    }

    .lg-mr-10 {
      margin-right: margin-calculation(2px) !important;
    }

    .lg-mr-15 {
      margin-right: margin-calculation(3px) !important;
    }

    .lg-mr-20 {
      margin-right: margin-calculation(4px) !important;
    }

    .lg-mr-25 {
      margin-right: margin-calculation(5px) !important;
    }

    .lg-mr-30 {
      margin-right: margin-calculation(6px) !important;
    }

    .lg-mr-35 {
      margin-right: margin-calculation(7px) !important;
    }

    .lg-mr-40 {
      margin-right: margin-calculation(8px) !important;
    }

    .lg-mr-45 {
      margin-right: margin-calculation(9px) !important;
    }

    .lg-mr-50 {
      margin-right: margin-calculation(10px) !important;
    }

    .lg-mr-55 {
      margin-right: margin-calculation(11px) !important;
    }

    .lg-mr-60 {
      margin-right: margin-calculation(12px) !important;
    }

    .lg-mr-65 {
      margin-right: margin-calculation(13px) !important;
    }

    .lg-mr-70 {
      margin-right: margin-calculation(14px) !important;
    }

    .lg-mr-75 {
      margin-right: margin-calculation(15px) !important;
    }

    .lg-mr-80 {
      margin-right: margin-calculation(16px) !important;
    }

    .lg-mr-85 {
      margin-right: margin-calculation(17px) !important;
    }

    .lg-mr-90 {
      margin-right: margin-calculation(18px) !important;
    }

    .lg-mr-95 {
      margin-right: margin-calculation(19px) !important;
    }

    .lg-mr-100 {
      margin-right: margin-calculation(20px) !important;
    }
}
