// Medium ------------------------------------------------------
@media (min-width: 768px) {

    // Medium Padding
    @function padding-calculation($index){
      @return $index * 5;
    }

    // Medium Padding - top, right, bottom, left
    .md-p-0 {
      padding: padding-calculation(0px) !important;
    }

    .md-p-5 {
      padding: padding-calculation(1px) !important;
    }

    .md-p-10 {
      padding: padding-calculation(2px) !important;
    }

    .md-p-15 {
      padding: padding-calculation(3px) !important;
    }

    .md-p-20 {
      padding: padding-calculation(4px) !important;
    }

    .md-p-25 {
      padding: padding-calculation(5px) !important;
    }

    .md-p-30 {
      padding: padding-calculation(6px) !important;
    }

    .md-p-35 {
      padding: padding-calculation(7px) !important;
    }

    .md-p-40 {
      padding: padding-calculation(8px) !important;
    }

    .md-p-45 {
      padding: padding-calculation(9px) !important;
    }

    .md-p-50 {
      padding: padding-calculation(10px) !important;
    }

    // Medium Padding - top, bottom
    .md-ptb-0 {
      padding-top: padding-calculation(0px) !important;
      padding-bottom: padding-calculation(0px) !important;
    }

    .md-ptb-5 {
      padding-top: padding-calculation(1px) !important;
      padding-bottom: padding-calculation(1px) !important;
    }

    .md-ptb-10 {
      padding-top: padding-calculation(2px) !important;
      padding-bottom: padding-calculation(2px) !important;
    }

    .md-ptb-15 {
      padding-top: padding-calculation(3px) !important;
      padding-bottom: padding-calculation(3px) !important;
    }

    .md-ptb-20 {
      padding-top: padding-calculation(4px) !important;
      padding-bottom: padding-calculation(4px) !important;
    }

    .md-ptb-25 {
      padding-top: padding-calculation(5px) !important;
      padding-bottom: padding-calculation(5px) !important;
    }

    .md-ptb-30 {
      padding-top: padding-calculation(6px) !important;
      padding-bottom: padding-calculation(6px) !important;
    }

    .md-ptb-35 {
      padding-top: padding-calculation(7px) !important;
      padding-bottom: padding-calculation(7px) !important;
    }

    .md-ptb-40 {
      padding-top: padding-calculation(8px) !important;
      padding-bottom: padding-calculation(8px) !important;
    }

    .md-ptb-45 {
      padding-top: padding-calculation(9px) !important;
      padding-bottom: padding-calculation(9px) !important;
    }

    .md-ptb-50 {
      padding-top: padding-calculation(10px) !important;
      padding-bottom: padding-calculation(10px) !important;
    }

    .md-ptb-55 {
      padding-top: padding-calculation(11px) !important;
      padding-bottom: padding-calculation(11px) !important;
    }

    .md-ptb-60 {
      padding-top: padding-calculation(12px) !important;
      padding-bottom: padding-calculation(12px) !important;
    }

    .md-ptb-65 {
      padding-top: padding-calculation(13px) !important;
      padding-bottom: padding-calculation(13px) !important;
    }

    .md-ptb-70 {
      padding-top: padding-calculation(14px) !important;
      padding-bottom: padding-calculation(14px) !important;
    }

    .md-ptb-75 {
      padding-top: padding-calculation(15px) !important;
      padding-bottom: padding-calculation(15px) !important;
    }

    .md-ptb-80 {
      padding-top: padding-calculation(16px) !important;
      padding-bottom: padding-calculation(16px) !important;
    }

    .md-ptb-85 {
      padding-top: padding-calculation(17px) !important;
      padding-bottom: padding-calculation(17px) !important;
    }

    .md-ptb-90 {
      padding-top: padding-calculation(18px) !important;
      padding-bottom: padding-calculation(18px) !important;
    }

    .md-ptb-95 {
      padding-top: padding-calculation(19px) !important;
      padding-bottom: padding-calculation(19px) !important;
    }

    .md-ptb-100 {
      padding-top: padding-calculation(20px) !important;
      padding-bottom: padding-calculation(20px) !important;
    }

    // Medium Padding - left, right
    .md-plr-0 {
      padding-left: padding-calculation(0px) !important;
      padding-right: padding-calculation(0px) !important;
    }

    .md-plr-5 {
      padding-left: padding-calculation(1px) !important;
      padding-right: padding-calculation(1px) !important;
    }

    .md-plr-10 {
      padding-left: padding-calculation(2px) !important;
      padding-right: padding-calculation(2px) !important;
    }

    .md-plr-15 {
      padding-left: padding-calculation(3px) !important;
      padding-right: padding-calculation(3px) !important;
    }

    .md-plr-20 {
      padding-left: padding-calculation(4px) !important;
      padding-right: padding-calculation(4px) !important;
    }

    .md-plr-25 {
      padding-left: padding-calculation(5px) !important;
      padding-right: padding-calculation(5px) !important;
    }

    .md-plr-30 {
      padding-left: padding-calculation(6px) !important;
      padding-right: padding-calculation(6px) !important;
    }

    .md-plr-35 {
      padding-left: padding-calculation(7px) !important;
      padding-right: padding-calculation(7px) !important;
    }

    .md-plr-40 {
      padding-left: padding-calculation(8px) !important;
      padding-right: padding-calculation(8px) !important;
    }

    .md-plr-45 {
      padding-left: padding-calculation(9px) !important;
      padding-right: padding-calculation(9px) !important;
    }

    .md-plr-50 {
      padding-left: padding-calculation(10px) !important;
      padding-right: padding-calculation(10px) !important;
    }

    .md-plr-55 {
      padding-left: padding-calculation(11px) !important;
      padding-right: padding-calculation(11px) !important;
    }

    .md-plr-60 {
      padding-left: padding-calculation(12px) !important;
      padding-right: padding-calculation(12px) !important;
    }

    .md-plr-65 {
      padding-left: padding-calculation(13px) !important;
      padding-right: padding-calculation(13px) !important;
    }

    .md-plr-70 {
      padding-left: padding-calculation(14px) !important;
      padding-right: padding-calculation(14px) !important;
    }

    .md-plr-75 {
      padding-left: padding-calculation(15px) !important;
      padding-right: padding-calculation(15px) !important;
    }

    .md-plr-80 {
      padding-left: padding-calculation(16px) !important;
      padding-right: padding-calculation(16px) !important;
    }

    .md-plr-85 {
      padding-left: padding-calculation(17px) !important;
      padding-right: padding-calculation(17px) !important;
    }

    .md-plr-90 {
      padding-left: padding-calculation(18px) !important;
      padding-right: padding-calculation(18px) !important;
    }

    .md-plr-95 {
      padding-left: padding-calculation(19px) !important;
      padding-right: padding-calculation(19px) !important;
    }

    .md-plr-100 {
      padding-left: padding-calculation(20px) !important;
      padding-right: padding-calculation(20px) !important;
    }

    // Medium Padding - top
    .md-pt-0 {
      padding-top: padding-calculation(0px) !important;
    }

    .md-pt-5 {
      padding-top: padding-calculation(1px) !important;
    }

    .md-pt-10 {
      padding-top: padding-calculation(2px) !important;
    }

    .md-pt-15 {
      padding-top: padding-calculation(3px) !important;
    }

    .md-pt-20 {
      padding-top: padding-calculation(4px) !important;
    }

    .md-pt-25 {
      padding-top: padding-calculation(5px) !important;
    }

    .md-pt-30 {
      padding-top: padding-calculation(6px) !important;
    }

    .md-pt-35 {
      padding-top: padding-calculation(7px) !important;
    }

    .md-pt-40 {
      padding-top: padding-calculation(8px) !important;
    }

    .md-pt-45 {
      padding-top: padding-calculation(9px) !important;
    }

    .md-pt-50 {
      padding-top: padding-calculation(10px) !important;
    }

    .md-pt-55 {
      padding-top: padding-calculation(11px) !important;
    }

    .md-pt-60 {
      padding-top: padding-calculation(12px) !important;
    }

    .md-pt-65 {
      padding-top: padding-calculation(13px) !important;
    }

    .md-pt-70 {
      padding-top: padding-calculation(14px) !important;
    }

    .md-pt-75 {
      padding-top: padding-calculation(15px) !important;
    }

    .md-pt-80 {
      padding-top: padding-calculation(16px) !important;
    }

    .md-pt-85 {
      padding-top: padding-calculation(17px) !important;
    }

    .md-pt-90 {
      padding-top: padding-calculation(18px) !important;
    }

    .md-pt-95 {
      padding-top: padding-calculation(19px) !important;
    }

    .md-pt-100 {
      padding-top: padding-calculation(20px) !important;
    }

    // Medium Padding - Bottom
    .md-pb-0 {
      padding-bottom: padding-calculation(0px) !important;
    }

    .md-pb-5 {
      padding-bottom: padding-calculation(1px) !important;
    }

    .md-pb-10 {
      padding-bottom: padding-calculation(2px) !important;
    }

    .md-pb-15 {
      padding-bottom: padding-calculation(3px) !important;
    }

    .md-pb-20 {
      padding-bottom: padding-calculation(4px) !important;
    }

    .md-pb-25 {
      padding-bottom: padding-calculation(5px) !important;
    }

    .md-pb-30 {
      padding-bottom: padding-calculation(6px) !important;
    }

    .md-pb-35 {
      padding-bottom: padding-calculation(7px) !important;
    }

    .md-pb-40 {
      padding-bottom: padding-calculation(8px) !important;
    }

    .md-pb-45 {
      padding-bottom: padding-calculation(9px) !important;
    }

    .md-pb-50 {
      padding-bottom: padding-calculation(10px) !important;
    }

    .md-pb-55 {
      padding-bottom: padding-calculation(11px) !important;
    }

    .md-pb-60 {
      padding-bottom: padding-calculation(12px) !important;
    }

    .md-pb-65 {
      padding-bottom: padding-calculation(13px) !important;
    }

    .md-pb-70 {
      padding-bottom: padding-calculation(14px) !important;
    }

    .md-pb-75 {
      padding-bottom: padding-calculation(15px) !important;
    }

    .md-pb-80 {
      padding-bottom: padding-calculation(16px) !important;
    }

    .md-pb-85 {
      padding-bottom: padding-calculation(17px) !important;
    }

    .md-pb-90 {
      padding-bottom: padding-calculation(18px) !important;
    }

    .md-pb-95 {
      padding-bottom: padding-calculation(19px) !important;
    }

    .md-pb-100 {
      padding-bottom: padding-calculation(20px) !important;
    }

    // Medium Padding - left
    .md-pl-0 {
      padding-left: padding-calculation(0px) !important;
    }

    .md-pl-5 {
      padding-left: padding-calculation(1px) !important;
    }

    .md-pl-10 {
      padding-left: padding-calculation(2px) !important;
    }

    .md-pl-15 {
      padding-left: padding-calculation(3px) !important;
    }

    .md-pl-20 {
      padding-left: padding-calculation(4px) !important;
    }

    .md-pl-25 {
      padding-left: padding-calculation(5px) !important;
    }

    .md-pl-30 {
      padding-left: padding-calculation(6px) !important;
    }

    .md-pl-35 {
      padding-left: padding-calculation(7px) !important;
    }

    .md-pl-40 {
      padding-left: padding-calculation(8px) !important;
    }

    .md-pl-45 {
      padding-left: padding-calculation(9px) !important;
    }

    .md-pl-50 {
      padding-left: padding-calculation(10px) !important;
    }

    .md-pl-55 {
      padding-left: padding-calculation(11px) !important;
    }

    .md-pl-60 {
      padding-left: padding-calculation(12px) !important;
    }

    .md-pl-65 {
      padding-left: padding-calculation(13px) !important;
    }

    .md-pl-70 {
      padding-left: padding-calculation(14px) !important;
    }

    .md-pl-75 {
      padding-left: padding-calculation(15px) !important;
    }

    .md-pl-80 {
      padding-left: padding-calculation(16px) !important;
    }

    .md-pl-85 {
      padding-left: padding-calculation(17px) !important;
    }

    .md-pl-90 {
      padding-left: padding-calculation(18px) !important;
    }

    .md-pl-95 {
      padding-left: padding-calculation(19px) !important;
    }

    .md-pl-100 {
      padding-left: padding-calculation(20px) !important;
    }

    // Medium Padding - Right
    .md-pr-0 {
      padding-right: padding-calculation(0px) !important;
    }

    .md-pr-5 {
      padding-right: padding-calculation(1px) !important;
    }

    .md-pr-10 {
      padding-right: padding-calculation(2px) !important;
    }

    .md-pr-15 {
      padding-right: padding-calculation(3px) !important;
    }

    .md-pr-20 {
      padding-right: padding-calculation(4px) !important;
    }

    .md-pr-25 {
      padding-right: padding-calculation(5px) !important;
    }

    .md-pr-30 {
      padding-right: padding-calculation(6px) !important;
    }

    .md-pr-35 {
      padding-right: padding-calculation(7px) !important;
    }

    .md-pr-40 {
      padding-right: padding-calculation(8px) !important;
    }

    .md-pr-45 {
      padding-right: padding-calculation(9px) !important;
    }

    .md-pr-50 {
      padding-right: padding-calculation(10px) !important;
    }

    .md-pr-55 {
      padding-right: padding-calculation(11px) !important;
    }

    .md-pr-60 {
      padding-right: padding-calculation(12px) !important;
    }

    .md-pr-65 {
      padding-right: padding-calculation(13px) !important;
    }

    .md-pr-70 {
      padding-right: padding-calculation(14px) !important;
    }

    .md-pr-75 {
      padding-right: padding-calculation(15px) !important;
    }

    .md-pr-80 {
      padding-right: padding-calculation(16px) !important;
    }

    .md-pr-85 {
      padding-right: padding-calculation(17px) !important;
    }

    .md-pr-90 {
      padding-right: padding-calculation(18px) !important;
    }

    .md-pr-95 {
      padding-right: padding-calculation(19px) !important;
    }

    .md-pr-100 {
      padding-right: padding-calculation(20px) !important;
    }

    // Medium Margin -----------------------------------------
    @function margin-calculation($index){
      @return $index * 5;
    }

    // Medium Margin - top, right, bottom, left
    .md-m-0 {
      margin: margin-calculation(0px) !important;
    }

    .md-m-5 {
      margin: margin-calculation(1px) !important;
    }

    .md-m-10 {
      margin: margin-calculation(2px) !important;
    }

    .md-m-15 {
      margin: margin-calculation(3px) !important;
    }

    .md-m-20 {
      margin: margin-calculation(4px) !important;
    }

    .md-m-25 {
      margin: margin-calculation(5px) !important;
    }

    .md-m-30 {
      margin: margin-calculation(6px) !important;
    }

    .md-m-35 {
      margin: margin-calculation(7px) !important;
    }

    .md-m-40 {
      margin: margin-calculation(8px) !important;
    }

    .md-m-45 {
      margin: margin-calculation(9px) !important;
    }

    .md-m-50 {
      margin: margin-calculation(10px) !important;
    }

    // Medium Margin - top, bottom
    .md-mtb-0 {
      margin-top: margin-calculation(0px) !important;
      margin-bottom: margin-calculation(0px) !important;
    }

    .md-mtb-5 {
      margin-top: margin-calculation(1px) !important;
      margin-bottom: margin-calculation(1px) !important;
    }

    .md-mtb-10 {
      margin-top: margin-calculation(2px) !important;
      margin-bottom: margin-calculation(2px) !important;
    }

    .md-mtb-15 {
      margin-top: margin-calculation(3px) !important;
      margin-bottom: margin-calculation(3px) !important;
    }

    .md-mtb-20 {
      margin-top: margin-calculation(4px) !important;
      margin-bottom: margin-calculation(4px) !important;
    }

    .md-mtb-25 {
      margin-top: margin-calculation(5px) !important;
      margin-bottom: margin-calculation(5px) !important;
    }

    .md-mtb-30 {
      margin-top: margin-calculation(6px) !important;
      margin-bottom: margin-calculation(6px) !important;
    }

    .md-mtb-35 {
      margin-top: margin-calculation(7px) !important;
      margin-bottom: margin-calculation(7px) !important;
    }

    .md-mtb-40 {
      margin-top: margin-calculation(8px) !important;
      margin-bottom: margin-calculation(8px) !important;
    }

    .md-mtb-45 {
      margin-top: margin-calculation(9px) !important;
      margin-bottom: margin-calculation(9px) !important;
    }

    .md-mtb-50 {
      margin-top: margin-calculation(10px) !important;
      margin-bottom: margin-calculation(10px) !important;
    }

    .md-mtb-55 {
      margin-top: margin-calculation(11px) !important;
      margin-bottom: margin-calculation(11px) !important;
    }

    .md-mtb-60 {
      margin-top: margin-calculation(12px) !important;
      margin-bottom: margin-calculation(12px) !important;
    }

    .md-mtb-65 {
      margin-top: margin-calculation(13px) !important;
      margin-bottom: margin-calculation(13px) !important;
    }

    .md-mtb-70 {
      margin-top: margin-calculation(14px) !important;
      margin-bottom: margin-calculation(14px) !important;
    }

    .md-mtb-75 {
      margin-top: margin-calculation(15px) !important;
      margin-bottom: margin-calculation(15px) !important;
    }

    .md-mtb-80 {
      margin-top: margin-calculation(16px) !important;
      margin-bottom: margin-calculation(16px) !important;
    }

    .md-mtb-85 {
      margin-top: margin-calculation(17px) !important;
      margin-bottom: margin-calculation(17px) !important;
    }

    .md-mtb-90 {
      margin-top: margin-calculation(18px) !important;
      margin-bottom: margin-calculation(18px) !important;
    }

    .md-mtb-95 {
      margin-top: margin-calculation(19px) !important;
      margin-bottom: margin-calculation(19px) !important;
    }

    .md-mtb-100 {
      margin-top: margin-calculation(20px) !important;
      margin-bottom: margin-calculation(20px) !important;
    }

    // Medium Margin - left, right
    .md-mlr-0 {
      margin-left: margin-calculation(0px) !important;
      margin-right: margin-calculation(0px) !important;
    }

    .md-mlr-5 {
      margin-left: margin-calculation(1px) !important;
      margin-right: margin-calculation(1px) !important;
    }

    .md-mlr-10 {
      margin-left: margin-calculation(2px) !important;
      margin-right: margin-calculation(2px) !important;
    }

    .md-mlr-15 {
      margin-left: margin-calculation(3px) !important;
      margin-right: margin-calculation(3px) !important;
    }

    .md-mlr-20 {
      margin-left: margin-calculation(4px) !important;
      margin-right: margin-calculation(4px) !important;
    }

    .md-mlr-25 {
      margin-left: margin-calculation(5px) !important;
      margin-right: margin-calculation(5px) !important;
    }

    .md-mlr-30 {
      margin-left: margin-calculation(6px) !important;
      margin-right: margin-calculation(6px) !important;
    }

    .md-mlr-35 {
      margin-left: margin-calculation(7px) !important;
      margin-right: margin-calculation(7px) !important;
    }

    .md-mlr-40 {
      margin-left: margin-calculation(8px) !important;
      margin-right: margin-calculation(8px) !important;
    }

    .md-mlr-45 {
      margin-left: margin-calculation(9px) !important;
      margin-right: margin-calculation(9px) !important;
    }

    .md-mlr-50 {
      margin-left: margin-calculation(10px) !important;
      margin-right: margin-calculation(10px) !important;
    }

    .md-mlr-55 {
      margin-left: margin-calculation(11px) !important;
      margin-right: margin-calculation(11px) !important;
    }

    .md-mlr-60 {
      margin-left: margin-calculation(12px) !important;
      margin-right: margin-calculation(12px) !important;
    }

    .md-mlr-65 {
      margin-left: margin-calculation(13px) !important;
      margin-right: margin-calculation(13px) !important;
    }

    .md-mlr-70 {
      margin-left: margin-calculation(14px) !important;
      margin-right: margin-calculation(14px) !important;
    }

    .md-mlr-75 {
      margin-left: margin-calculation(15px) !important;
      margin-right: margin-calculation(15px) !important;
    }

    .md-mlr-80 {
      margin-left: margin-calculation(16px) !important;
      margin-right: margin-calculation(16px) !important;
    }

    .md-mlr-85 {
      margin-left: margin-calculation(17px) !important;
      margin-right: margin-calculation(17px) !important;
    }

    .md-mlr-90 {
      margin-left: margin-calculation(18px) !important;
      margin-right: margin-calculation(18px) !important;
    }

    .md-mlr-95 {
      margin-left: margin-calculation(19px) !important;
      margin-right: margin-calculation(19px) !important;
    }

    .md-mlr-100 {
      margin-left: margin-calculation(20px) !important;
      margin-right: margin-calculation(20px) !important;
    }

    // Medium Margin - top
    .md-mt-0 {
      margin-top: margin-calculation(0px) !important;
    }

    .md-mt-5 {
      margin-top: margin-calculation(1px) !important;
    }

    .md-mt-10 {
      margin-top: margin-calculation(2px) !important;
    }

    .md-mt-15 {
      margin-top: margin-calculation(3px) !important;
    }

    .md-mt-20 {
      margin-top: margin-calculation(4px) !important;
    }

    .md-mt-25 {
      margin-top: margin-calculation(5px) !important;
    }

    .md-mt-30 {
      margin-top: margin-calculation(6px) !important;
    }

    .md-mt-35 {
      margin-top: margin-calculation(7px) !important;
    }

    .md-mt-40 {
      margin-top: margin-calculation(8px) !important;
    }

    .md-mt-45 {
      margin-top: margin-calculation(9px) !important;
    }

    .md-mt-50 {
      margin-top: margin-calculation(10px) !important;
    }

    .md-mt-55 {
      margin-top: margin-calculation(11px) !important;
    }

    .md-mt-60 {
      margin-top: margin-calculation(12px) !important;
    }

    .md-mt-65 {
      margin-top: margin-calculation(13px) !important;
    }

    .md-mt-70 {
      margin-top: margin-calculation(14px) !important;
    }

    .md-mt-75 {
      margin-top: margin-calculation(15px) !important;
    }

    .md-mt-80 {
      margin-top: margin-calculation(16px) !important;
    }

    .md-mt-85 {
      margin-top: margin-calculation(17px) !important;
    }

    .md-mt-90 {
      margin-top: margin-calculation(18px) !important;
    }

    .md-mt-95 {
      margin-top: margin-calculation(19px) !important;
    }

    .md-mt-100 {
      margin-top: margin-calculation(20px) !important;
    }

    // Medium Margin - Bottom
    .md-mb-0 {
      margin-bottom: margin-calculation(0px) !important;
    }

    .md-mb-5 {
      margin-bottom: margin-calculation(1px) !important;
    }

    .md-mb-10 {
      margin-bottom: margin-calculation(2px) !important;
    }

    .md-mb-15 {
      margin-bottom: margin-calculation(3px) !important;
    }

    .md-mb-20 {
      margin-bottom: margin-calculation(4px) !important;
    }

    .md-mb-25 {
      margin-bottom: margin-calculation(5px) !important;
    }

    .md-mb-30 {
      margin-bottom: margin-calculation(6px) !important;
    }

    .md-mb-35 {
      margin-bottom: margin-calculation(7px) !important;
    }

    .md-mb-40 {
      margin-bottom: margin-calculation(8px) !important;
    }

    .md-mb-45 {
      margin-bottom: margin-calculation(9px) !important;
    }

    .md-mb-50 {
      margin-bottom: margin-calculation(10px) !important;
    }

    .md-mb-55 {
      margin-bottom: margin-calculation(11px) !important;
    }

    .md-mb-60 {
      margin-bottom: margin-calculation(12px) !important;
    }

    .md-mb-65 {
      margin-bottom: margin-calculation(13px) !important;
    }

    .md-mb-70 {
      margin-bottom: margin-calculation(14px) !important;
    }

    .md-mb-75 {
      margin-bottom: margin-calculation(15px) !important;
    }

    .md-mb-80 {
      margin-bottom: margin-calculation(16px) !important;
    }

    .md-mb-85 {
      margin-bottom: margin-calculation(17px) !important;
    }

    .md-mb-90 {
      margin-bottom: margin-calculation(18px) !important;
    }

    .md-mb-95 {
      margin-bottom: margin-calculation(19px) !important;
    }

    .md-mb-100 {
      margin-bottom: margin-calculation(20px) !important;
    }

    // Medium Margin - left
    .md-ml-0 {
      margin-left: margin-calculation(0px) !important;
    }

    .md-ml-5 {
      margin-left: margin-calculation(1px) !important;
    }

    .md-ml-10 {
      margin-left: margin-calculation(2px) !important;
    }

    .md-ml-15 {
      margin-left: margin-calculation(3px) !important;
    }

    .md-ml-20 {
      margin-left: margin-calculation(4px) !important;
    }

    .md-ml-25 {
      margin-left: margin-calculation(5px) !important;
    }

    .md-ml-30 {
      margin-left: margin-calculation(6px) !important;
    }

    .md-ml-35 {
      margin-left: margin-calculation(7px) !important;
    }

    .md-ml-40 {
      margin-left: margin-calculation(8px) !important;
    }

    .md-ml-45 {
      margin-left: margin-calculation(9px) !important;
    }

    .md-ml-50 {
      margin-left: margin-calculation(10px) !important;
    }

    .md-ml-55 {
      margin-left: margin-calculation(11px) !important;
    }

    .md-ml-60 {
      margin-left: margin-calculation(12px) !important;
    }

    .md-ml-65 {
      margin-left: margin-calculation(13px) !important;
    }

    .md-ml-70 {
      margin-left: margin-calculation(14px) !important;
    }

    .md-ml-75 {
      margin-left: margin-calculation(15px) !important;
    }

    .md-ml-80 {
      margin-left: margin-calculation(16px) !important;
    }

    .md-ml-85 {
      margin-left: margin-calculation(17px) !important;
    }

    .md-ml-90 {
      margin-left: margin-calculation(18px) !important;
    }

    .md-ml-95 {
      margin-left: margin-calculation(19px) !important;
    }

    .md-ml-100 {
      margin-left: margin-calculation(20px) !important;
    }

    // Medium Margin - Right
    .md-mr-0 {
      margin-right: margin-calculation(0px) !important;
    }

    .md-mr-5 {
      margin-right: margin-calculation(1px) !important;
    }

    .md-mr-10 {
      margin-right: margin-calculation(2px) !important;
    }

    .md-mr-15 {
      margin-right: margin-calculation(3px) !important;
    }

    .md-mr-20 {
      margin-right: margin-calculation(4px) !important;
    }

    .md-mr-25 {
      margin-right: margin-calculation(5px) !important;
    }

    .md-mr-30 {
      margin-right: margin-calculation(6px) !important;
    }

    .md-mr-35 {
      margin-right: margin-calculation(7px) !important;
    }

    .md-mr-40 {
      margin-right: margin-calculation(8px) !important;
    }

    .md-mr-45 {
      margin-right: margin-calculation(9px) !important;
    }

    .md-mr-50 {
      margin-right: margin-calculation(10px) !important;
    }

    .md-mr-55 {
      margin-right: margin-calculation(11px) !important;
    }

    .md-mr-60 {
      margin-right: margin-calculation(12px) !important;
    }

    .md-mr-65 {
      margin-right: margin-calculation(13px) !important;
    }

    .md-mr-70 {
      margin-right: margin-calculation(14px) !important;
    }

    .md-mr-75 {
      margin-right: margin-calculation(15px) !important;
    }

    .md-mr-80 {
      margin-right: margin-calculation(16px) !important;
    }

    .md-mr-85 {
      margin-right: margin-calculation(17px) !important;
    }

    .md-mr-90 {
      margin-right: margin-calculation(18px) !important;
    }

    .md-mr-95 {
      margin-right: margin-calculation(19px) !important;
    }

    .md-mr-100 {
      margin-right: margin-calculation(20px) !important;
    }
}
